<!DOCTYPE html>
<html lang="en" id="ng-app" ng-app="app">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  
  <head>
    <link href="./lib/css/bootstrap.min.css" rel="stylesheet">
    <script src="./lib/js/jquery-1.11.3.min.js"></script>
    <script src="./lib/js/angular.min.js"></script>
    <script src="./lib/js/angular-route.min.js"></script>
    <script src="./lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
    <script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
    <script src="./app/app.js"></script>
    <link href="./app/index.css" rel="stylesheet">
    <title>MetaCortex</title>
  </head>

  <body ng-controller="AppCtrl">
    <div class="container">  
      <div class="jumbotron">
        <h1>Welcome!</h1>
      </div>
      <br>
      <!--<a href="http://wod.wowhead.com/item=112920" rel="bonus=450">link</a>-->
      <form>
        <div class="form-group">
          <label for="searchInput">Search</label>
          <input type="text" id="searchInput" ng-model="searchEntries">
        </div>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Recipient</th>
            <th>Item</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="entry in data.data | filter:searchEntries">
            <td>{{entry.date}}</td>
            <td>{{entry.recipient}}</td>
            <td><a ng-href="http://wod.wowhead.com/item={{entry.item.id}}" rel="bonus={{entry.item.bonuses.join(':')}}">{{entry.item.name}}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  
</html>